
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@375&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Lora', serif;  
}
html, body {
    font: 12px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 95%;
    padding: 5px;
    border: 0px;
    background-color: oldlace;
    overflow:scroll;
}

